
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

.main{
    max-width: 1440px;
    margin: 0 auto;
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    border-radius: 8px;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
}
.display-flex{
    display: flex;
}
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}

/* header styles */
.header{
    max-width: 1920px;
    /* height: 1322px;   */
    margin: 0 auto;
    background-color: rgba(255, 144, 14, 0.1); 
}
/* navbar styles */
.navbar{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    padding-left: 0;
    /* border: 1px solid red;  */
    max-width: 477px; 
    /* height: 26px;  */
     /* justify-content: space-between;  */
      gap: 75px; 
}
nav li{
    list-style: none;
}
nav a {
    text-decoration: none;
    color: #424242;
    font-size: 1.125rem;
    font-weight: 500;
}
.nav-heading{
    font-size: 3rem;
    font-weight: 700;
}

/* banner styles */
.banner{
    max-width: 1440px;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 45px;
    /* border: 1px solid blue; */
}
.banner-top{
     text-align: center;
     display: flex;
     flex-direction: column;
     gap: 32px;
    justify-content: center;
    align-items: center;
} 
.banner-content{
    /* border: 1px solid red; */
    max-width: 860px;
    height: 225px;   
}
.banner-button{
    margin-bottom: 50px;
}
.banner-heading{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}
.banner-image img{
    width: 100%;
    border-radius: 8px;
}

/* quick list style */
quick-list-left img{
    width: 100%;
    border-radius: 8px;
}
.quick-list-left{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.quick-list{
    /* border: 1px solid red; */
    display: flex;
    gap: 73px;
    margin-top: 85px;
    margin-bottom: 130px;
    justify-content: center;
    align-items: center;
}
.first{
    font-size: 3rem;
    font-weight: 500;
}
.second{
    font-size: 3rem;
    font-weight: bold;
}
.third{
    font-size: 3rem;
    font-weight: bold;
    color: #FF900E;
}

/* features style */
.features{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 54px;
    margin-bottom: 130px;
}
.features-left{
    max-width: 586px;
    height: 982px;
}
.features-heading{
    font-size: 3rem;
    font-weight: bold;
    border-left: 5px solid #FF900E;
    margin-bottom: 0;
    padding-left: 15px;
}
.features-left h4{
    font-weight: 600;
    font-size: 1.25rem;
}
.features-image{
    max-width: 800px;
    height: 1059px;
    /* border: 1px solid red; */
    /* text-align: right;  */
}
.features-des1, .features-des2, .features-des3, .features-des4 {
    background-color: aliceblue;
    padding: 15px;
    margin-top: 10px;
}
.features-image img{
    border-radius: 8px;
    padding-left: 92px;
}
.features-image button{
    padding: 45px;
    text-align: center;
    margin-top: -123px;
}
.btn-part1{
    font-size: 4rem;
    font-weight: bold;
}
.btn-part2{
    font-size: 1.56rem;
    font-weight: 500;
}

/* some facts style */
.some-facts-cards{
    display: flex;
    justify-content: space-around;
}
.some-facts h3{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
}
.some-facts p{
    max-width: 542px;
}
.card{
    max-width: 169px;
    height: 137px;
    border: 1px solid #FF900E;
    border-radius: 8;
    padding: 50px 35px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 150px;
}
.card-no{
 font-size: 3rem;
 font-weight: 600;
}
.card-title{
    font-size: 1.25rem;
    font-weight: 600;
}
/* sponsors style */
.sponsors{
    margin-bottom: 130px;
}
.sponsors-content{
    text-align: center;
    max-width: 542px;
    margin: 0 auto;
}
.sponsors-logos{
    display: flex;
    justify-content: space-between;
    filter: grayscale(100%);
}
.sponsors h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
}
.sponsors p{
    margin-bottom: 50px;
}

/* footer style */
.bg-footer{
    max-width: 1440px;
    /* height: 138px; */
     padding-top: 53px; 
     padding-bottom: 53px;
     margin: 0 auto; 
    background-color: rgba(255, 244, 231, 1);
     text-align: center; 
     font-weight: 1.25rem;
}


/* responsive section */
@media screen and (max-width: 576px) {
    .navbar,
    nav ul,
    .quick-list,
    .features,
    .some-facts-cards,
    .sponsors-logos
    {
        flex-direction: column;
    }
    .quick-list-left{
         grid-template-columns: 1fr;
    }
    .header, .banner-content{
        height: auto;
        padding: 0;
    }
    nav ul{
        gap: 10px;
    } 
    .quick-list, .features{
        margin-bottom: 0px;
    }
    .features-left{
        height: auto;
    }
       .features-image{
        height: auto;
    }
    .features-image img{
        width: 100%;
        padding-left: 0px;
    }
    .card{
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .some-facts{
        text-align: center;
    }
    .some-facts-cards, .sponsors-logos{
      align-items: center;
    }
    .sponsors-logos{
        gap: 20px;
    }
    .bg-footer{
        height: auto;
    }
}

/* medium screen */
@media screen and (min-width: 576px) and (max-width: 992px){
.navbar,
.quick-list,
.features,
.sponsors-logos
    {
    flex-direction: column;
    }
    .some-facts-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    .card{
    margin-top: 0px;
    margin-bottom: 0px;
    }
    .quick-list-left img{
        width: 100%;
    }
     .quick-list{
        margin-bottom: 0px;
    }
  .header, .banner-content{
        height: auto;
        padding: 0;
    }
        .features-image img{
        width: 100%;
        padding-left: 0px;
    }
    .features-image{
        height: auto;
    }
    .features-left{
        height: auto;
    }
    .some-facts{
        justify-items: center;
    }
    .sponsors-logos{
        gap: 20px;
        align-items: center;
    }
}